body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    color: silver;
    padding: 10px;
    text-align: center;
    margin: auto;

}

#container {
    background-color: white;
    border-color: white;
    width: 500px;
    height: 250px;
    
}

button {
    display: flex;
    background-color: rgb(175, 0, 0);
    color: white;
    border-style: none;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    font-size: 16px;
    margin: auto auto 0 auto;
    padding: 5px;
}
#passwordContainer {
    border-style: dashed;
    height: 100px;
    width: 350px;
    border-color: silver;
    color: silver;
    text-align: center;
    margin: auto;
}